In [2]:
import pandas as pd

In [5]:
subway = pd.read_csv('/root/AI_STAGE/upstageailab-ml-competition-ml-2/1.Data/subway_feature.csv', encoding='utf-8')
bus = pd.read_csv('/root/AI_STAGE/upstageailab-ml-competition-ml-2/1.Data/bus_feature.csv', encoding='utf-8')
bike = pd.read_csv('/root/AI_STAGE/upstageailab-ml-competition-ml-2/1.Data/bike_station.csv', encoding='cp949')
green = pd.read_csv('/root/AI_STAGE/upstageailab-ml-competition-ml-2/1.Data/green_space.csv', encoding='cp949')

In [6]:
subway

     역사_ID   역사명      호선         위도          경도
0     9996    미사     5호선  37.560927  127.193877
1     9995    강일     5호선  37.557490  127.175930
2     4929  김포공항  김포골드라인  37.562360  126.801868
3     4928    고촌  김포골드라인  37.601243  126.770345
4     4927    풍무  김포골드라인  37.612488  126.732387
..     ...   ...     ...        ...         ...
763    154  종로5가     1호선  37.570926  127.001849
764    153  종로3가     1호선  37.570406  126.991847
765    152    종각     1호선  37.570161  126.982923
766    151    시청     1호선  37.565715  126.977088
767    150   서울역     1호선  37.556228  126.972135

[768 rows x 5 columns]

In [13]:
subway['역사명'].unique

<bound method Series.unique of 0        미사
1        강일
2      김포공항
3        고촌
4        풍무
       ...
763    종로5가
764    종로3가
765      종각
766      시청
767     서울역
Name: 역사명, Length: 768, dtype: object>

In [7]:
bus

           노드 ID  정류소번호           정류소명         X좌표        Y좌표 정류소 타입
0      100000001   1001        종로2가사거리  126.987752  37.569808   중앙차로
1      100000002   1002    창경궁.서울대학교병원  126.996566  37.579183   중앙차로
2      100000003   1003      명륜3가.성대입구  126.998251  37.582581   중앙차로
3      100000004   1004       종로2가.삼일교  126.987613  37.568579   중앙차로
4      100000005   1005  혜화동로터리.여운형활동터  127.001744  37.586243   중앙차로
...          ...    ...            ...         ...        ...    ...
12579  124000334  25995          우성아파트  127.139338  37.550386   일반차로
12580  124000333  25996          우성아파트  127.140046  37.550643   일반차로
12581  124000332  25997           조일약국  127.123596  37.533630   일반차로
12582  124000331  25998           성내시장  127.125497  37.536155   일반차로
12583  124000330  25999    천호우체국.로데오거리  127.127337  37.540343   일반차로

[12584 rows x 6 columns]

In [8]:
bike

       대여소_ID                      주소1            주소2         위도          경도
0      ST-999       서울특별시 양천구 목동서로 280  목동아파트 8단지 상가동   0.000000    0.000000
1      ST-998       서울특별시 양천구 목동서로 130  목동아파트 4단지 상가동   0.000000    0.000000
2      ST-997       서울특별시 양천구 목동중앙로 49  목동3단지 시내버스정류장  37.534390  126.869598
3      ST-996   서울특별시 양천구 남부순환로88길5-16     양강중학교앞 교차로  37.524334  126.850548
4      ST-995  서울특별시 양천구 중앙로 153 공중화장실            NaN  37.510597  126.857323
...       ...                      ...            ...        ...         ...
3366  ST-1002     서울특별시 양천구 목동동로 316-6   서울시 도로환경관리센터  37.529900  126.876541
3367  ST-1001      서울특별시 양천구 남부순환로4길20        서서울호수공원   0.000000    0.000000
3368  ST-1000        서울특별시 양천구 신정동 236    서부식자재마트 건너편  37.510380  126.866798
3369   ST-100       서울특별시 광진구 아차산로 262    더샵스타시티 C동 앞  37.536667  127.073593
3370    ST-10         서울특별시 마포구 양화로 93            427  37.552746  126.918617

[3371 rows x 5 columns]

In [10]:
bike.isnull().sum()

대여소_ID       0
주소1          0
주소2       1922
위도           0
경도           0
dtype: int64

In [9]:
green

,고유번호,녹지대ID,녹지대명,주소한글,녹지대분류,녹지대조성년도,녹지대면적,조경량,구명,구코드,생성일,사진파일명,경도,위도
0,103,0,영등포ic,,도로변녹지,0,16145.0,0.0,영등포구,560,NaN,,126.9136206,37.520411
1,105,0,남부순환로수벽,,수벽,0,1000.0,0.0,서초구,650,NaN,,126.9931597,37.4747777
2,106,0,가락사거리녹지대,,도로변녹지,0,37080.0,0.0,송파구,710,NaN,,127.1154226,37.4975797
3,107,0,올림픽로 분리대,,중앙분리대,0,28907.0,0.0,송파구,710,NaN,,127.1003898,37.5139019
4,108,0,성내천둔치공원(오금동),,하천변조경,0,26390.0,0.0,송파구,710,NaN,,127.137227,37.502803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2244,2245,0,올림픽로 분리대,,중앙분리대,0,28907.0,0.0,송파구,710,NaN,,127.0745767,37.5110778
2245,2246,0,mbc옆분리녹지대,여의도,중앙분리대,0,1899.0,0.0,영등포구,560,NaN,,126.9271203,37.5257821
2246,2248,0,개봉동삼호A옆녹지,,도로변녹지,0,70.0,0.0,구로구,530,NaN,,126.8573173,37.4946448
2247,2249,0,용답초등학교내 방음벽,용답동27-1,기타,0,60.0,0.0,성동구,200,NaN,,127.0531551,37.5607171
2248,428,0,구청사주변녹지,노량진동 47-2,공공건물,0,1200.0,0.0,동작구,590,NaN,,126.9391944,37.5120113